.field_main
{
border-color: #A9E2F3;
border-style: solid;
}


.field_save
{
border-color: #A9E2F3;
border-style: solid;
}

.field_del
{
border-color: #F5A9A9;
border-style: solid;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}

.button-123 {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.button-123:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button-123:active {
    color: #000
}

.button-123:active:after {
    background: transparent;
}

.button-123:hover:before {
    opacity: 1;
}

.button-123:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}






.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 20px;

}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;

  background-color: #E6E6E6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;


}

.dropdown-content a {
  color: #585858;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 20px;

}

.dropdown-content a:hover {color: black; background-color: #D0F5FD;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: #000000 ;background-color: #A5E9F6;}












